{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_USER') and app.user.id == user.id or is_granted("ROLE_ADMIN") %}
        <div class="container">

            <a class="back" href="{{ path('user_show', {"slug" : app.user.slug }) }}"><span
                        class="glyphicon glyphicon-arrow-left"></span> Back</a>
            <div class="userEditFormHeader">
                <h1>User edit</h1>
                <img src="/{{ user.avatar }}" alt="" width="100px">
            </div>
            <div class="userEditFormBody">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit"/>
                {{ form_end(edit_form) }}
            </div>

            {{ form_start(delete_form) }}
            <div class="userEditFormFooter">
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>

        </div>
    {% else %}
        <p>You are NOT allowed to access to this Page</p>
        <p>click <a class="back" href="{{ app.request.headers.get('referer') }}"> here</a> to go back</p>
    {% endif %}
{% endblock %}
