{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>
    <img src="/{{ user.avatar }}" alt=""/>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ user.slug }}</td>
        </tr>
        <tr>
            <th>Avatar</th>
            <td>{{ user.avatar }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ user.lastname }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ user.gender }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ user.country }}</td>
        </tr>
        <tr>
            <th>Privacy</th>
            <td>{% if user.privacy %}Yes{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'slug': user.slug }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
