{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>All Articles</h1>

            {% for article in articles %}
                <div class="article col-sm-12">
                    <a href="{{ path('article_show', { 'slug': article.slug }) }}">
                        <div class="content">
                            <h2>{{ article.title }}</h2>
                            <p class="author">By <span>{{ article.author.pseudonym }}</span></p>
                            <p class="articleDate">Created
                                at: {% if article.created %}{{ article.created|date('Y-m-d H:i:s') }}{% endif %}</p>
                            <p class="tags">{% for tag in article.tags %}{{ tag }} {% endfor %} </p>
                            <p class="commentCounter">Comment: {{ article.comments|length }}</p>

                        </div>
                    </a>
                </div>
            {% endfor %}


            <ul>
                <li>
                    <a href="{{ path('article_new') }}">Create a new article</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
