{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="articleBlock">
                <div class="articleHeader">
                    <h1 class="text-center">{{ article.title }}</h1>
                    <p class="author">By <span>{{ article.author }}</span></p>
                    <p class="createdDate">Created at
                        : {% if article.created %}{{ article.created|date('Y-m-d') }}{% endif %}</p>
                </div>
                <div class="articleContent">
                    <p class="tag">Tag: {{ article.tempTags }}</p>
                    {{ article.content }}
                </div>
                <div class="articleFooter">
                    {% if article.created != article.updated %}
                        <p>Edited at: {{ article.updated|date('Y-m-d') }}</p>
                    {% endif %}
                </div>
            </div>


            <div class="like">
                {% if not is_granted('ROLE_USER') %}
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{ article.likes|length }}
                {% else %}
                    <a href="{{ path('article_like', {'id': article.id } ) }}"
                       class="{% if app.user in article.likes %}haslike{% else %}nolike{% endif %}"><span
                                class=" glyphicon
                       glyphicon-heart" aria-hidden="true"></span> {{ article.likes|length }}</a>
                {% endif %}


            </div>


            <div class="commentBlock">
                <a class="btn" role="button" data-toggle="collapse" href="#commentCollapse"
                   aria-expanded="false" aria-controls="commentCollapse">
                    Write a comment
                </a>
                <div class="collapse" id="commentCollapse">
                    <div class="well">
                        <form name="appbundle_comment" method="post" action="{{ path('comment_new') }}">
                            <div id="appbundle_comment">
                                <div class="form-group">

                                    <textarea
                                            id="appbundle_comment_content" name="appbundle_comment[content]"
                                            required="required" class="form-control">

                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <input type="hidden"
                                           id="appbundle_comment_article" name="appbundle_comment[article]"
                                           value="{{ article.id }}">
                                </div>
                                <input type="hidden" id="appbundle_comment__token" name="appbundle_comment[_token]"
                                       value="{{ csrf_token('appbundle_comment') }}">
                            </div>
                            <input type="submit" value="Create">

                        </form>
                    </div>
                </div>
                {% if article.comments|length !=0 %}
                {% for comment in article.comments %}
                    <div class="well comment">
                        <div class="commentator"><img src="/{{ comment.author.avatar }}" alt="avatar" width="100px">
                            <p class="comment_author"><a
                                        href="{{ path('user_show', {'slug': comment.author.slug}) }}">{{ comment.author }}</a>
                            </p>
                            <p class="'comment_date">posted at: {{ comment.created|date('Y-m-d H:i:s') }}</p>
                        </div>
                        <div class="comment_content">{{ comment.content }}</div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if is_granted("ROLE_ADMIN") %}
                <ul>
                    <li>
                        <a href="{{ path('article_index') }}">Back to the list</a>
                    </li>
                    <li>
                        <a href="{{ path('article_edit', { 'slug': article.slug }) }}">Edit</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
