{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="articleBlock">
                <div class="articleHeader">
                    <h1 class="text-center">{{ article.title }}</h1>
                    <p class="author">By <span>{{ article.author }}</span></p>
                    <p class="createdDate">Created at
                        : {% if article.created %}{{ article.created|date('Y-m-d') }}{% endif %}</p>
                </div>
                <div class="articleContent">
                    <p class="tag">Tag: {{ article.tempTags }}</p>
                    {{ article.content }}
                </div>
                <div class="articleFooter">
                    {% if article.created != article.updated %}
                        <p>Edited at: {{ article.updated|date('Y-m-d') }}</p>
                    {% endif %}
                </div>
            </div>
            {% if article.comments|length !=0 %}
                <div class="commentBlock">
                    {% for comment in article.comments %}
                        <div class="well comment">
                            <div class="avatar"><img src="/{{ comment.author.avatar }}" alt="avatar"></div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if is_granted("ROLE_ADMIN") %}
                <ul>
                    <li>
                        <a href="{{ path('article_index') }}">Back to the list</a>
                    </li>
                    <li>
                        <a href="{{ path('article_edit', { 'slug': article.slug }) }}">Edit</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
